# Week 1 - Data Handling

This week we will focus on manipulating and performing basic operations on data within Python. The package we shall be using to do this is `pandas`, which provides data structures and operations for manipulating many common types of data.

Another popular package for these sort of tasks is `numpy`, which is particularly useful when performing more computationally involved operations on your data. We shall not be covering `numpy` today, but feel free to study it in your own time, e.g. by following [this tutorial](https://numpy.org/devdocs/user/quickstart.html).

## Useful References

There are many resources that you may find useful for using `pandas`, here are a few:

- The `pandas` [documentation](https://pandas.pydata.org/docs/reference/index.html) - Contains reference information for all pandas objects, functions and methods.
- The [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/03.00-introduction-to-pandas.html) - I find this very helpful as a reference when I want to look up how to perform a particular kind of task, rather than wanting to look up a specific function. It is only introductory so does not by any stretch cover everything, but what it does cover it covers well. It also contains material on `numpy`, `matplotlib` & `seaborn` (two packages commonly used together for data visualisation, and which we will cover next week), and `scikit-learn` (an accessible package for doing basic Machine Learning in Python, which will be covered later on in the course).

## Course Homepage

Another source of resources for the whole course is the [course GitHub page](https://github.com/AstraZeneca/data-science-python-course). Here you can find all the notebooks used in class, as well as solutions to the exercises.

## Installing Pandas

The module `pandas` does not come as part of the default Python or Jupyter installations. In order to install it in your system, launch the Command Prompt just like we saw in week 0 and run the following command: `pip install pandas --user`. Once the command finishes execution, pandas will be installed in your system.

**Note**: Depending on where you are installing the packages from, you may have to use a proxy, i.e. you may have to enter `pip install pandas --proxy "http://azpzen.astrazeneca.net:9480"` instead of `pip install pandas --user`.

**Note**: If you have any issues installing pandas, please get in touch with one of the trainers or use the teams page.

**Note**: You can use the same approach to install `numpy`, and other packages.

## Learning Objectives

After this week, you should be comfortable with performing the following tasks using `pandas`:

- Reading in data as a `DataFrame`.
- Selecting subsets of a data frame.
- Creating new columns and modifying existing ones.
- Summarising data sets via summary values, including separating out the summaries by groups present in the data.
- Handling missing data.
- Handling data spread across multiple datasets.

**Note**: Any of these topics could be covered in more depth than we have time for today. It is sufficient for now to understand the basic elements of these topics, and how to go about learning them in more depth.

## Loading pandas

Pandas is typically imported with the alias `pd`.

In [1]:
import pandas as pd

## Reading in Data

The first step in any data analysis is to read in your data. We shall be using the [METABRIC dataset](https://www.mercuriolab.umassmed.edu/metabric) `metabric_clinical_and_expression_data.csv`, which contains various types of data on a sample of patients with breast cancer.

Pandas contains different functions for reading in data from different formats. The function for reading in data from a csv file is `read_csv()`.

In [2]:
metabric = pd.read_csv('metabric_clinical_and_expression_data.csv')

**Note**: You will need to replace `'metabric_clinical_and_expression_data.csv'` with a file path for wherever you have the csv file stored.  Be aware that the copy path functionality in windows pastes in file paths with back slashes `\`, but pandas requires forward slashes `/`. Alternatively, you can put an `r` in front of the string, e.g. `pd.read_csv(r"C:\Documents\metabric_clinical_and_expression_data.csv")`.

The type of object the metabric dataset is now stored as is called a `DataFrame`. Typically the rows of a data frame correspond to **observations**, and the columns correspond to **variables**. 

By default, `pandas` will assign each row an index starting from 0, as is standard in Python.

## Exploring Your Data

### A Refresher on Objects, Attributes and Methods

Recall that objects in Python have **attributes** and **methods**.

An **attribute** is simply a property of the object. They can be accessed via the syntax `object.attribute`.

For example, the `shape` attribute of a data frame contains information on the number of rows and columns.

In [12]:
metabric.shape

1904

The `columns` attribute gives a list of the variables in the data frame.

In [13]:
metabric.columns

Index(['Patient_ID', 'Cohort', 'Age_at_diagnosis', 'Survival_time',
       'Survival_status', 'Vital_status', 'Chemotherapy', 'Radiotherapy',
       'Tumour_size', 'Tumour_stage', 'Neoplasm_histologic_grade',
       'Lymph_nodes_examined_positive', 'Lymph_node_status', 'Cancer_type',
       'ER_status', 'PR_status', 'HER2_status', 'HER2_status_measured_by_SNP6',
       'PAM50', '3-gene_classifier', 'Nottingham_prognostic_index',
       'Cellularity', 'Integrative_cluster', 'Mutation_count', 'ESR1', 'ERBB2',
       'PGR', 'TP53', 'PIK3CA', 'GATA3', 'FOXA1', 'MLPH'],
      dtype='object')

A **method** is a function specfically designed for a certain type of object. They can be called via the syntax `object.method()`. By default the first argument of the method is the object it is called on, any further arguments must be typed inside the brackets.

For example, the `head()` method returns the first few rows of the data frame it is called on.

In [14]:
metabric.head() # head(metabric)

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Integrative_cluster,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH
0,MB-0000,1,75.65,140.500000,LIVING,Living,NO,YES,22.0,2.0,...,4ER+,NaN,8.929817,9.333972,5.680501,6.338739,5.704157,6.932146,7.953794,9.729728
1,MB-0002,1,43.19,84.633333,LIVING,Living,NO,YES,10.0,1.0,...,4ER+,2.0,10.047059,9.729606,7.505424,6.192507,5.757727,11.251197,11.843989,12.536570
2,MB-0005,1,48.87,163.700000,DECEASED,Died of Disease,YES,NO,15.0,2.0,...,3,2.0,10.041281,9.725825,7.376123,6.404516,6.751566,9.289758,11.698169,10.306115
3,MB-0006,1,47.68,164.933333,LIVING,Living,YES,YES,25.0,2.0,...,9,1.0,10.404685,10.334979,6.815637,6.869241,7.219187,8.667723,11.863379,10.472181
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,9,2.0,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961

In [15]:
metabric.head(n=10) # Semantically equivalent to head(metabric, n=10)

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Integrative_cluster,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH
0,MB-0000,1,75.65,140.500000,LIVING,Living,NO,YES,22.0,2.0,...,4ER+,NaN,8.929817,9.333972,5.680501,6.338739,5.704157,6.932146,7.953794,9.729728
1,MB-0002,1,43.19,84.633333,LIVING,Living,NO,YES,10.0,1.0,...,4ER+,2.0,10.047059,9.729606,7.505424,6.192507,5.757727,11.251197,11.843989,12.536570
2,MB-0005,1,48.87,163.700000,DECEASED,Died of Disease,YES,NO,15.0,2.0,...,3,2.0,10.041281,9.725825,7.376123,6.404516,6.751566,9.289758,11.698169,10.306115
3,MB-0006,1,47.68,164.933333,LIVING,Living,YES,YES,25.0,2.0,...,9,1.0,10.404685,10.334979,6.815637,6.869241,7.219187,8.667723,11.863379,10.472181
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,9,2.0,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961
5,MB-0010,1,78.77,7.800000,DECEASED,Died of Disease,NO,YES,31.0,4.0,...,7,4.0,11.239750,9.739996,5.954311,5.419711,6.123056,9.787085,12.142178,11.433164
6,MB-0014,1,56.45,164.333333,LIVING,Living,YES,YES,10.0,2.0,...,3,4.0,10.793832,9.276507,7.720952,5.992706,7.481835,8.365527,11.482627,10.755199
7,MB-0022,1,89.08,99.533333,DECEASED,Died of Other Causes,NO,YES,29.0,2.0,...,3,1.0,10.440667,8.613192,5.592522,6.165420,7.593330,7.872962,10.679403,9.945023
8,MB-0028,1,86.41,36.566667,DECEASED,Died of Other Causes,NO,YES,16.0,2.0,...,9,4.0,12.521038,10.678267,5.325554,6.220372,6.250678,10.260059,12.148375,10.936002
9,MB-0035,1,84.22,36.266667,DECEASED,Died of Disease,NO,NO,28.0,2.0,...,3,5.0,7.536847,11.514514,5.587666,6.411477,5.988243,10.212610,12.804542,13.474571

`describe()` provides summary statistics on all variables.

In [16]:
metabric.describe()

,Cohort,Age_at_diagnosis,Survival_time,Tumour_size,Tumour_stage,Neoplasm_histologic_grade,Lymph_nodes_examined_positive,Lymph_node_status,Nottingham_prognostic_index,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH
count,1904.000000,1904.000000,1904.000000,1884.000000,1403.000000,1832.000000,1904.000000,1904.000000,1904.000000,1859.000000,1904.000000,1904.000000,1904.000000,1904.000000,1904.000000,1904.000000,1904.000000,1904.000000
mean,2.643908,61.087054,125.121324,26.238726,1.750535,2.415939,2.002101,1.639706,4.033019,5.697687,9.607824,10.765364,6.237203,6.197967,5.970097,9.502910,10.800526,11.362384
std,1.228615,12.978711,76.334148,15.160976,0.628999,0.650612,4.079993,0.743809,1.144492,4.058778,2.133827,1.357359,1.020871,0.401864,0.352549,1.502636,1.754282,1.687555
min,1.000000,21.930000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,5.217238,6.372949,4.860645,5.201128,5.158697,5.277722,5.184945,5.323652
25%,1.000000,51.375000,60.825000,17.000000,1.000000,2.000000,0.000000,1.000000,3.046000,3.000000,8.092992,9.969681,5.408728,5.930335,5.735007,8.767954,10.829777,11.042871
50%,3.000000,61.770000,115.616667,23.000000,2.000000,3.000000,0.000000,1.000000,4.042000,5.000000,10.252166,10.530301,5.877591,6.185873,5.938094,9.911805,11.367947,11.873967
75%,3.000000,70.592500,184.716667,30.000000,2.000000,3.000000,2.000000,2.000000,5.040250,7.000000,11.268331,11.159306,6.899220,6.456987,6.148720,10.560220,11.779545,12.396317
max,5.000000,96.290000,355.200000,182.000000,4.000000,3.000000,45.000000,3.000000,6.360000,80.000000,13.265184,14.643900,9.932115,7.921411,8.708396,12.812082,13.127682,14.432001

Methods become much nicer to use than functions when you start using more than one of them.

In [17]:
metabric.head(n=10).describe() # Semantically equivalent to describe( head(metabric, n=10) )

,Cohort,Age_at_diagnosis,Survival_time,Tumour_size,Tumour_stage,Neoplasm_histologic_grade,Lymph_nodes_examined_positive,Lymph_node_status,Nottingham_prognostic_index,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH
count,10.0,10.00000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,1.0,68.72900,93.963333,22.600000,2.100000,2.500000,2.500000,1.900000,4.445200,2.777778,10.323156,9.890313,6.488991,6.235264,6.468760,9.235885,11.424146,11.175051
std,0.0,17.71328,61.417902,9.822876,0.737865,0.527046,3.566822,0.737865,0.971246,1.481366,1.361471,0.806485,0.946519,0.367237,0.733786,1.284540,1.334650,1.214110
min,1.0,43.19000,7.800000,10.000000,1.000000,2.000000,0.000000,1.000000,3.056000,1.000000,7.536847,8.613192,5.325554,5.419711,5.704157,6.932146,7.953794,9.729728
25%,1.0,50.76500,37.766667,15.250000,2.000000,2.000000,0.250000,1.250000,4.022500,2.000000,10.042726,9.431936,5.614516,6.172192,5.860424,8.441076,11.518222,10.347631
50%,1.0,76.31000,92.083333,23.500000,2.000000,2.500000,1.000000,2.000000,4.054000,2.000000,10.422676,9.734801,6.384974,6.279162,6.186867,9.504770,11.771079,10.845600
75%,1.0,82.85750,157.900000,28.750000,2.000000,3.000000,2.500000,2.000000,4.789500,4.000000,11.128270,10.240301,7.364898,6.388072,7.102282,10.106229,12.072478,11.979762
max,1.0,89.08000,164.933333,40.000000,4.000000,3.000000,10.000000,3.000000,6.080000,5.000000,12.521038,11.514514,7.720952,6.869241,7.593330,11.251197,12.804542,13.474571

In [ ]:
metabric.info()

### Columns

One way in which individual columns can be acessed is with square brackets `[]`:

In [18]:
metabric['Survival_time']

0       140.500000
1        84.633333
2       163.700000
3       164.933333
4        41.366667
           ...
1899    196.866667
1900     44.733333
1901    175.966667
1902     86.233333
1903    201.900000
Name: Survival_time, Length: 1904, dtype: float64

Columns are in fact attributes of the data frame, so they can also be accessed via the usual attribute syntax:

In [19]:
metabric.Survival_time

0       140.500000
1        84.633333
2       163.700000
3       164.933333
4        41.366667
           ...
1899    196.866667
1900     44.733333
1901    175.966667
1902     86.233333
1903    201.900000
Name: Survival_time, Length: 1904, dtype: float64

**Note**: This only works if the column name has no spaces!

The columns are a separate type of `pandas` object called a `Series`, which is essentially the `pandas` version of a list. `Series` also have lots of useful attributes and methods, many of which go by the same name as their `DataFrame` counterparts.

In [20]:
metabric.Survival_time.shape

(1904,)

In [21]:
metabric.Survival_time.describe()

count    1904.000000
mean      125.121324
std        76.334148
min         0.000000
25%        60.825000
50%       115.616667
75%       184.716667
max       355.200000
Name: Survival_time, dtype: float64

In [22]:
metabric.Survival_time.mean()

125.12132352924728

In many cases, a method with an obvious functionality for a single variable will simply perform that operation on all columns when called on a data frame.

In [23]:
metabric.mean()

Cohort                             2.643908
Age_at_diagnosis                  61.087054
Survival_time                    125.121324
Tumour_size                       26.238726
Tumour_stage                       1.750535
Neoplasm_histologic_grade          2.415939
Lymph_nodes_examined_positive      2.002101
Lymph_node_status                  1.639706
Nottingham_prognostic_index        4.033019
Mutation_count                     5.697687
ESR1                               9.607824
ERBB2                             10.765364
PGR                                6.237203
TP53                               6.197967
PIK3CA                             5.970097
GATA3                              9.502910
FOXA1                             10.800526
MLPH                              11.362384
dtype: float64

#### Column Creation

New columns can be created in a straightforward manner. For example, I can create a column with the current age of the patients as folllows:

In [26]:
metabric['Age_today'] = metabric['Age_at_diagnosis'] + metabric['Survival_time']/365

/scratch/kwkm645/ipykernel_263457/1513651751.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  metabric.age_today = metabric['Age_at_diagnosis'] + metabric['Survival_time']/365

**Note**: When creating new columns, the new column must be specified using the `dataframe['column_name']` syntax.

**<span style="color:blue">Exercise</span>**: Create a new column that gives the average expression of all the genes with expression data in the metabric data set.

## Data Subsetting

Square brackets `[]` are used to select rows and columns in a data frame. For example, one can select a subset of the rows as follows (recall the use of a colon `:` to define a range):

In [27]:
metabric[:3]

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
0,MB-0000,1,75.65,140.500000,LIVING,Living,NO,YES,22.0,2.0,...,NaN,8.929817,9.333972,5.680501,6.338739,5.704157,6.932146,7.953794,9.729728,76.034932
1,MB-0002,1,43.19,84.633333,LIVING,Living,NO,YES,10.0,1.0,...,2.0,10.047059,9.729606,7.505424,6.192507,5.757727,11.251197,11.843989,12.536570,43.421872
2,MB-0005,1,48.87,163.700000,DECEASED,Died of Disease,YES,NO,15.0,2.0,...,2.0,10.041281,9.725825,7.376123,6.404516,6.751566,9.289758,11.698169,10.306115,49.318493

This can be combined with column selection as above:

In [28]:
metabric[:3]['Survival_time']

0    140.500000
1     84.633333
2    163.700000
Name: Survival_time, dtype: float64

However, the two cannot be combined into one pair of indices:

In [29]:
metabric[:3,'Survival_time']

TypeError: '(slice(None, 3, None), 'Survival_time')' is an invalid key

:(

Such **label-based** indexing can be done using the `.loc[]` functionality.

In [30]:
metabric.loc[:3,'Survival_time']

0    140.500000
1     84.633333
2    163.700000
3    164.933333
Name: Survival_time, dtype: float64

In [31]:
metabric.loc[:,['Survival_time', 'Tumour_size']]

      Survival_time  Tumour_size
0        140.500000         22.0
1         84.633333         10.0
2        163.700000         15.0
3        164.933333         25.0
4         41.366667         40.0
...             ...          ...
1899     196.866667         25.0
1900      44.733333         20.0
1901     175.966667         25.0
1902      86.233333         25.0
1903     201.900000         20.0

[1904 rows x 2 columns]

In [32]:
metabric.loc[:,'ESR1':'MLPH']

,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH
0,8.929817,9.333972,5.680501,6.338739,5.704157,6.932146,7.953794,9.729728
1,10.047059,9.729606,7.505424,6.192507,5.757727,11.251197,11.843989,12.536570
2,10.041281,9.725825,7.376123,6.404516,6.751566,9.289758,11.698169,10.306115
3,10.404685,10.334979,6.815637,6.869241,7.219187,8.667723,11.863379,10.472181
4,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961
...,...,...,...,...,...,...,...,...
1899,9.591235,9.935179,7.984515,6.753291,6.279207,9.207323,11.281194,11.337601
1900,9.733986,13.753037,5.616082,6.271912,5.999093,9.530390,11.532033,11.626140
1901,11.053198,10.228570,7.478069,6.212256,6.192399,9.540589,11.482761,11.180360
1902,11.055114,9.892589,8.282737,6.466712,6.287254,10.365901,11.371176,12.827069
1903,10.696475,10.227787,5.533486,6.180511,6.208784,9.749368,10.867527,9.847856

Both rows and columns can be specified via **positional** indexing using the `.iloc[]` functionality.

In [33]:
metabric.iloc[:10,1:6]

,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status
0,1,75.65,140.500000,LIVING,Living
1,1,43.19,84.633333,LIVING,Living
2,1,48.87,163.700000,DECEASED,Died of Disease
3,1,47.68,164.933333,LIVING,Living
4,1,76.97,41.366667,DECEASED,Died of Disease
5,1,78.77,7.800000,DECEASED,Died of Disease
6,1,56.45,164.333333,LIVING,Living
7,1,89.08,99.533333,DECEASED,Died of Other Causes
8,1,86.41,36.566667,DECEASED,Died of Other Causes
9,1,84.22,36.266667,DECEASED,Died of Disease

### Conditional Subsetting

You can also subset a data frame using boolean vectors. This allows you to only include data that meets certain conditions.

For example, let's suppose we are interested in patients with a particularly large tumour.

In [34]:
metabric[metabric.Tumour_size >= 20]

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
0,MB-0000,1,75.65,140.500000,LIVING,Living,NO,YES,22.0,2.0,...,NaN,8.929817,9.333972,5.680501,6.338739,5.704157,6.932146,7.953794,9.729728,76.034932
3,MB-0006,1,47.68,164.933333,LIVING,Living,YES,YES,25.0,2.0,...,1.0,10.404685,10.334979,6.815637,6.869241,7.219187,8.667723,11.863379,10.472181,48.131872
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,2.0,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961,77.083333
5,MB-0010,1,78.77,7.800000,DECEASED,Died of Disease,NO,YES,31.0,4.0,...,4.0,11.239750,9.739996,5.954311,5.419711,6.123056,9.787085,12.142178,11.433164,78.791370
7,MB-0022,1,89.08,99.533333,DECEASED,Died of Other Causes,NO,YES,29.0,2.0,...,1.0,10.440667,8.613192,5.592522,6.165420,7.593330,7.872962,10.679403,9.945023,89.352694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899,MB-7295,4,43.10,196.866667,LIVING,Living,NO,YES,25.0,NaN,...,4.0,9.591235,9.935179,7.984515,6.753291,6.279207,9.207323,11.281194,11.337601,43.639361
1900,MB-7296,4,42.88,44.733333,DECEASED,Died of Disease,NO,YES,20.0,NaN,...,6.0,9.733986,13.753037,5.616082,6.271912,5.999093,9.530390,11.532033,11.626140,43.002557
1901,MB-7297,4,62.90,175.966667,DECEASED,Died of Disease,NO,YES,25.0,NaN,...,4.0,11.053198,10.228570,7.478069,6.212256,6.192399,9.540589,11.482761,11.180360,63.382100
1902,MB-7298,4,61.16,86.233333,DECEASED,Died of Other Causes,NO,NO,25.0,NaN,...,15.0,11.055114,9.892589,8.282737,6.466712,6.287254,10.365901,11.371176,12.827069,61.396256
1903,MB-7299,4,60.02,201.900000,DECEASED,Died of Other Causes,NO,YES,20.0,NaN,...,3.0,10.696475,10.227787,5.533486,6.180511,6.208784,9.749368,10.867527,9.847856,60.573151

`metabric.Tumour_size` evaluates to a series of True and False, when put inside the `[]` brackets, pandas selects those rows where the series equals True. You can thus put anything inside the square brackets that evaluates to a series of True and False of the same length as the number of rows in the data frame.

In [35]:
metabric.Tumour_size >= 20

0        True
1       False
2       False
3        True
4        True
        ...
1899     True
1900     True
1901     True
1902     True
1903     True
Name: Tumour_size, Length: 1904, dtype: bool

More complicated conditions can be specified using `&` (AND), and `|` (OR).

Let's take a look at those patients who survived a long time despite having a large tumour.

In [37]:
metabric[(metabric.Tumour_size >= 20) & (metabric.Survival_time >= 100)]

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
0,MB-0000,1,75.65,140.500000,LIVING,Living,NO,YES,22.0,2.0,...,NaN,8.929817,9.333972,5.680501,6.338739,5.704157,6.932146,7.953794,9.729728,76.034932
3,MB-0006,1,47.68,164.933333,LIVING,Living,YES,YES,25.0,2.0,...,1.0,10.404685,10.334979,6.815637,6.869241,7.219187,8.667723,11.863379,10.472181,48.131872
10,MB-0036,1,85.49,132.033333,DECEASED,Died of Disease,NO,YES,22.0,4.0,...,1.0,10.927313,10.033753,7.002502,5.943520,5.650386,10.845709,11.991655,12.466928,85.851735
11,MB-0039,1,70.91,163.533333,LIVING,Living,NO,YES,21.0,1.0,...,3.0,11.752263,9.456711,6.648324,5.405316,7.791616,9.520894,11.883358,11.961181,71.358037
14,MB-0048,1,51.46,103.833333,LIVING,Living,YES,YES,25.0,2.0,...,NaN,8.101955,12.847992,6.114007,6.397985,7.779824,7.294771,10.963978,9.063062,51.744475
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1894,MB-7289,4,51.87,126.666667,DECEASED,Died of Disease,NO,NO,65.0,NaN,...,5.0,8.690467,9.979783,6.673764,6.297197,6.105810,8.691950,10.691575,11.349036,52.217032
1897,MB-7293,4,56.90,199.233333,LIVING,Living,NO,NO,45.0,NaN,...,5.0,10.879891,10.219154,6.431113,5.791022,6.000993,9.551231,11.302246,11.301274,57.445845
1899,MB-7295,4,43.10,196.866667,LIVING,Living,NO,YES,25.0,NaN,...,4.0,9.591235,9.935179,7.984515,6.753291,6.279207,9.207323,11.281194,11.337601,43.639361
1901,MB-7297,4,62.90,175.966667,DECEASED,Died of Disease,NO,YES,25.0,NaN,...,4.0,11.053198,10.228570,7.478069,6.212256,6.192399,9.540589,11.482761,11.180360,63.382100
1903,MB-7299,4,60.02,201.900000,DECEASED,Died of Other Causes,NO,YES,20.0,NaN,...,3.0,10.696475,10.227787,5.533486,6.180511,6.208784,9.749368,10.867527,9.847856,60.573151

Some useful bits of logical snytax:

- `==` equal
- `!=` not equal
- `>` greater than
- `>=` greater than or equal to
- `<` less than
- `<=` less than or equal to

- `&` and
- `|` or

**<span style="color:blue">Exercise</span>**: Write a query to extract data on only those patients who have had both chemotherapy and radiotherapy. Can you compute the average tumour size for such patients? How does this compare to the tumour size for patients who haven't undergone therapy?

The `.isin()` method can help avoid cumbersome OR statements.

In [38]:
metabric[(metabric.Cohort==1) | (metabric.Cohort==4) | (metabric.Cohort==5)]

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
0,MB-0000,1,75.65,140.500000,LIVING,Living,NO,YES,22.0,2.0,...,NaN,8.929817,9.333972,5.680501,6.338739,5.704157,6.932146,7.953794,9.729728,76.034932
1,MB-0002,1,43.19,84.633333,LIVING,Living,NO,YES,10.0,1.0,...,2.0,10.047059,9.729606,7.505424,6.192507,5.757727,11.251197,11.843989,12.536570,43.421872
2,MB-0005,1,48.87,163.700000,DECEASED,Died of Disease,YES,NO,15.0,2.0,...,2.0,10.041281,9.725825,7.376123,6.404516,6.751566,9.289758,11.698169,10.306115,49.318493
3,MB-0006,1,47.68,164.933333,LIVING,Living,YES,YES,25.0,2.0,...,1.0,10.404685,10.334979,6.815637,6.869241,7.219187,8.667723,11.863379,10.472181,48.131872
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,2.0,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961,77.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899,MB-7295,4,43.10,196.866667,LIVING,Living,NO,YES,25.0,NaN,...,4.0,9.591235,9.935179,7.984515,6.753291,6.279207,9.207323,11.281194,11.337601,43.639361
1900,MB-7296,4,42.88,44.733333,DECEASED,Died of Disease,NO,YES,20.0,NaN,...,6.0,9.733986,13.753037,5.616082,6.271912,5.999093,9.530390,11.532033,11.626140,43.002557
1901,MB-7297,4,62.90,175.966667,DECEASED,Died of Disease,NO,YES,25.0,NaN,...,4.0,11.053198,10.228570,7.478069,6.212256,6.192399,9.540589,11.482761,11.180360,63.382100
1902,MB-7298,4,61.16,86.233333,DECEASED,Died of Other Causes,NO,NO,25.0,NaN,...,15.0,11.055114,9.892589,8.282737,6.466712,6.287254,10.365901,11.371176,12.827069,61.396256
1903,MB-7299,4,60.02,201.900000,DECEASED,Died of Other Causes,NO,YES,20.0,NaN,...,3.0,10.696475,10.227787,5.533486,6.180511,6.208784,9.749368,10.867527,9.847856,60.573151

In [39]:
metabric[metabric.Cohort.isin([1,4,5])]

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
0,MB-0000,1,75.65,140.500000,LIVING,Living,NO,YES,22.0,2.0,...,NaN,8.929817,9.333972,5.680501,6.338739,5.704157,6.932146,7.953794,9.729728,76.034932
1,MB-0002,1,43.19,84.633333,LIVING,Living,NO,YES,10.0,1.0,...,2.0,10.047059,9.729606,7.505424,6.192507,5.757727,11.251197,11.843989,12.536570,43.421872
2,MB-0005,1,48.87,163.700000,DECEASED,Died of Disease,YES,NO,15.0,2.0,...,2.0,10.041281,9.725825,7.376123,6.404516,6.751566,9.289758,11.698169,10.306115,49.318493
3,MB-0006,1,47.68,164.933333,LIVING,Living,YES,YES,25.0,2.0,...,1.0,10.404685,10.334979,6.815637,6.869241,7.219187,8.667723,11.863379,10.472181,48.131872
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,2.0,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961,77.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899,MB-7295,4,43.10,196.866667,LIVING,Living,NO,YES,25.0,NaN,...,4.0,9.591235,9.935179,7.984515,6.753291,6.279207,9.207323,11.281194,11.337601,43.639361
1900,MB-7296,4,42.88,44.733333,DECEASED,Died of Disease,NO,YES,20.0,NaN,...,6.0,9.733986,13.753037,5.616082,6.271912,5.999093,9.530390,11.532033,11.626140,43.002557
1901,MB-7297,4,62.90,175.966667,DECEASED,Died of Disease,NO,YES,25.0,NaN,...,4.0,11.053198,10.228570,7.478069,6.212256,6.192399,9.540589,11.482761,11.180360,63.382100
1902,MB-7298,4,61.16,86.233333,DECEASED,Died of Other Causes,NO,NO,25.0,NaN,...,15.0,11.055114,9.892589,8.282737,6.466712,6.287254,10.365901,11.371176,12.827069,61.396256
1903,MB-7299,4,60.02,201.900000,DECEASED,Died of Other Causes,NO,YES,20.0,NaN,...,3.0,10.696475,10.227787,5.533486,6.180511,6.208784,9.749368,10.867527,9.847856,60.573151

**<span style="color:blue">(slightly difficult) Exercise</span>**: Write a query to extract data on patients from cohort 1 with either the highest or second highest tumour stage (part of the exercise is to figure out what the top two tumour stages are!). A method introduced later on in this session might be useful...

## Missing Data

### Identifying Missing Data

A missing value is represented in pandas by `NaN`. 

Typically calculations in pandas by default skip over `NaN` values. For example, if the method `.mean()` is called on a series with missing values, it will simply return the mean of the values that are present. Of course this is very useful, but you should be aware that pandas is doing this behind the scenes.

In [ ]:
metabric.Tumour_size.mean()

Recall the `.info()` method gives you information about the amount of missing data.

In [40]:
metabric.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1904 entries, 0 to 1903
Data columns (total 33 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Patient_ID                     1904 non-null   object
 1   Cohort                         1904 non-null   int64
 2   Age_at_diagnosis               1904 non-null   float64
 3   Survival_time                  1904 non-null   float64
 4   Survival_status                1904 non-null   object
 5   Vital_status                   1903 non-null   object
 6   Chemotherapy                   1904 non-null   object
 7   Radiotherapy                   1904 non-null   object
 8   Tumour_size                    1884 non-null   float64
 9   Tumour_stage                   1403 non-null   float64
 10  Neoplasm_histologic_grade      1832 non-null   float64
 11  Lymph_nodes_examined_positive  1904 non-null   int64
 12  Lymph_node_status              1904 non-null   int64
 13  Cancer_type                    1889 non-null   object
 14  ER_status                      1904 non-null   object
 15  PR_status                      1904 non-null   object
 16  HER2_status                    1904 non-null   object
 17  HER2_status_measured_by_SNP6   1904 non-null   object
 18  PAM50                          1904 non-null   object
 19  3-gene_classifier              1700 non-null   object
 20  Nottingham_prognostic_index    1904 non-null   float64
 21  Cellularity                    1850 non-null   object
 22  Integrative_cluster            1904 non-null   object
 23  Mutation_count                 1859 non-null   float64
 24  ESR1                           1904 non-null   float64
 25  ERBB2                          1904 non-null   float64
 26  PGR                            1904 non-null   float64
 27  TP53                           1904 non-null   float64
 28  PIK3CA                         1904 non-null   float64
 29  GATA3                          1904 non-null   float64
 30  FOXA1                          1904 non-null   float64
 31  MLPH                           1904 non-null   float64
 32  Age_today                      1904 non-null   float64
dtypes: float64(16), int64(3), object(14)
memory usage: 491.0+ KB

The location of the missing data can be found using the `isna()` method.

In [41]:
metabric.isna()

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
0,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1900,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1901,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1902,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
1903,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False

**<span style="color:blue">Exercise</span>**: Use `.sum()` to produce a list with the number of missing entries for each variable.

**<span style="color:blue">Exercise</span>**: There is also a method that does the opposite of `.isna()` - i.e. it returns `True` when data is present and `False` where there is an `NaN`. Can you find out (or guess) what it is?

When we have missing data, it is important to understand whether data is missing according to some systematic pattern, or whether the missing data is spread out randomly across our data set. 

Boolean indexing can be used to determine the values of other variables for those samples where data is missing data on a particular variable.

In [43]:
metabric.Cohort[metabric.Tumour_size.isna()]

152     1
170     1
357     1
799     3
980     3
1047    3
1195    3
1260    3
1385    3
1481    3
1513    5
1538    5
1543    5
1553    5
1555    5
1568    5
1580    5
1609    5
1620    5
1635    5
Name: Cohort, dtype: int64

### Dealing with Missing Data

#### Removal

There are many options for dealing with missing data, one of which is to simply remove samples or variables with incomplete information. The method for this is `dropna()`:

In [ ]:
metabric.dropna()

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
1,MB-0002,1,43.19,84.633333,LIVING,Living,NO,YES,10.0,1.0,...,2.0,10.047059,9.729606,7.505424,6.192507,5.757727,11.251197,11.843989,12.536570,43.421872
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,2.0,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961,77.083333
5,MB-0010,1,78.77,7.800000,DECEASED,Died of Disease,NO,YES,31.0,4.0,...,4.0,11.239750,9.739996,5.954311,5.419711,6.123056,9.787085,12.142178,11.433164,78.791370
8,MB-0028,1,86.41,36.566667,DECEASED,Died of Other Causes,NO,YES,16.0,2.0,...,4.0,12.521038,10.678267,5.325554,6.220372,6.250678,10.260059,12.148375,10.936002,86.510183
9,MB-0035,1,84.22,36.266667,DECEASED,Died of Disease,NO,NO,28.0,2.0,...,5.0,7.536847,11.514514,5.587666,6.411477,5.988243,10.212610,12.804542,13.474571,84.319361
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1618,MB-6232,5,71.22,85.000000,DECEASED,Died of Other Causes,NO,NO,30.0,2.0,...,11.0,11.538680,10.447805,6.507826,6.304797,5.506552,10.780191,11.916438,12.391002,71.452877
1619,MB-6233,5,70.65,201.166667,LIVING,Living,NO,YES,20.0,1.0,...,9.0,12.076626,9.987536,7.324950,6.268109,5.539961,9.639720,11.565130,12.191141,71.201142
1621,MB-6237,5,75.62,105.200000,DECEASED,Died of Other Causes,NO,NO,20.0,1.0,...,4.0,5.538551,10.381719,5.470697,6.440667,5.752296,5.832035,5.908382,6.297938,75.908219
1623,MB-6239,5,52.84,200.333333,LIVING,Living,YES,YES,20.0,2.0,...,5.0,10.455083,9.686122,8.149034,6.494910,5.671279,10.601751,11.310479,12.760481,53.388858
1664,MB-6346,5,63.20,281.500000,LIVING,Living,NO,YES,22.0,2.0,...,3.0,11.717617,10.623396,5.815838,5.949808,5.934635,10.425506,11.772506,12.722197,63.971233

The optional argument `axis` allows you to specify whether to remove rows (the default behaviour) or columns (achieved by setting `axis = 1`).

**<span style="color:SeaGreen">Tip</span>**: This is a common pattern in `pandas`. When you have a dataframe method that could sensibly act on either rows or columns, there will often be an optional `axis` argument that will enable you to explicitly specify which one you would like.

The optional argument `subset` allows you to select only certain variables to check for missing data in.

In [45]:
metabric.dropna(subset=['Tumour_size', 'Tumour_stage'])

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
0,MB-0000,1,75.65,140.500000,LIVING,Living,NO,YES,22.0,2.0,...,NaN,8.929817,9.333972,5.680501,6.338739,5.704157,6.932146,7.953794,9.729728,76.034932
1,MB-0002,1,43.19,84.633333,LIVING,Living,NO,YES,10.0,1.0,...,2.0,10.047059,9.729606,7.505424,6.192507,5.757727,11.251197,11.843989,12.536570,43.421872
2,MB-0005,1,48.87,163.700000,DECEASED,Died of Disease,YES,NO,15.0,2.0,...,2.0,10.041281,9.725825,7.376123,6.404516,6.751566,9.289758,11.698169,10.306115,49.318493
3,MB-0006,1,47.68,164.933333,LIVING,Living,YES,YES,25.0,2.0,...,1.0,10.404685,10.334979,6.815637,6.869241,7.219187,8.667723,11.863379,10.472181,48.131872
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,2.0,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961,77.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1619,MB-6233,5,70.65,201.166667,LIVING,Living,NO,YES,20.0,1.0,...,9.0,12.076626,9.987536,7.324950,6.268109,5.539961,9.639720,11.565130,12.191141,71.201142
1621,MB-6237,5,75.62,105.200000,DECEASED,Died of Other Causes,NO,NO,20.0,1.0,...,4.0,5.538551,10.381719,5.470697,6.440667,5.752296,5.832035,5.908382,6.297938,75.908219
1623,MB-6239,5,52.84,200.333333,LIVING,Living,YES,YES,20.0,2.0,...,5.0,10.455083,9.686122,8.149034,6.494910,5.671279,10.601751,11.310479,12.760481,53.388858
1628,MB-6251,5,48.59,14.700000,DECEASED,Died of Disease,YES,YES,30.0,2.0,...,6.0,5.621742,10.212125,5.425290,5.594586,5.598071,6.633440,5.743388,8.031706,48.630274
1664,MB-6346,5,63.20,281.500000,LIVING,Living,NO,YES,22.0,2.0,...,3.0,11.717617,10.623396,5.815838,5.949808,5.934635,10.425506,11.772506,12.722197,63.971233

#### Replacement

Another option is to fill in the missing data with something sensible. This can be achieved via the method `.fillna()`.

In [46]:
metabric.fillna(value={'Tumour_size':metabric.Tumour_size.mean()})

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
0,MB-0000,1,75.65,140.500000,LIVING,Living,NO,YES,22.0,2.0,...,NaN,8.929817,9.333972,5.680501,6.338739,5.704157,6.932146,7.953794,9.729728,76.034932
1,MB-0002,1,43.19,84.633333,LIVING,Living,NO,YES,10.0,1.0,...,2.0,10.047059,9.729606,7.505424,6.192507,5.757727,11.251197,11.843989,12.536570,43.421872
2,MB-0005,1,48.87,163.700000,DECEASED,Died of Disease,YES,NO,15.0,2.0,...,2.0,10.041281,9.725825,7.376123,6.404516,6.751566,9.289758,11.698169,10.306115,49.318493
3,MB-0006,1,47.68,164.933333,LIVING,Living,YES,YES,25.0,2.0,...,1.0,10.404685,10.334979,6.815637,6.869241,7.219187,8.667723,11.863379,10.472181,48.131872
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,2.0,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961,77.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899,MB-7295,4,43.10,196.866667,LIVING,Living,NO,YES,25.0,NaN,...,4.0,9.591235,9.935179,7.984515,6.753291,6.279207,9.207323,11.281194,11.337601,43.639361
1900,MB-7296,4,42.88,44.733333,DECEASED,Died of Disease,NO,YES,20.0,NaN,...,6.0,9.733986,13.753037,5.616082,6.271912,5.999093,9.530390,11.532033,11.626140,43.002557
1901,MB-7297,4,62.90,175.966667,DECEASED,Died of Disease,NO,YES,25.0,NaN,...,4.0,11.053198,10.228570,7.478069,6.212256,6.192399,9.540589,11.482761,11.180360,63.382100
1902,MB-7298,4,61.16,86.233333,DECEASED,Died of Other Causes,NO,NO,25.0,NaN,...,15.0,11.055114,9.892589,8.282737,6.466712,6.287254,10.365901,11.371176,12.827069,61.396256
1903,MB-7299,4,60.02,201.900000,DECEASED,Died of Other Causes,NO,YES,20.0,NaN,...,3.0,10.696475,10.227787,5.533486,6.180511,6.208784,9.749368,10.867527,9.847856,60.573151

**<span style="color:SeaGreen">For thought</span>**: 

- What might be the problem with using this method for e.g. Mutation Count?
- Can you think of any other ways to fill in missing values?

The process of filling in missing data with sensible guesses is called **Data Imputation**, and is a whole field of data science in it's own right. Whilst it should obviously not be used for things like summary statistics, it can be very powerful when used as a pre-processing step for a ML algorithm, allowing you to extract much more information from your data.

## Grouping

Often a data set will contain natural groups, and you might wish to understand whether these groups display similar or different behaviour in other variables.

In [47]:
metabric.head()

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
0,MB-0000,1,75.65,140.500000,LIVING,Living,NO,YES,22.0,2.0,...,NaN,8.929817,9.333972,5.680501,6.338739,5.704157,6.932146,7.953794,9.729728,76.034932
1,MB-0002,1,43.19,84.633333,LIVING,Living,NO,YES,10.0,1.0,...,2.0,10.047059,9.729606,7.505424,6.192507,5.757727,11.251197,11.843989,12.536570,43.421872
2,MB-0005,1,48.87,163.700000,DECEASED,Died of Disease,YES,NO,15.0,2.0,...,2.0,10.041281,9.725825,7.376123,6.404516,6.751566,9.289758,11.698169,10.306115,49.318493
3,MB-0006,1,47.68,164.933333,LIVING,Living,YES,YES,25.0,2.0,...,1.0,10.404685,10.334979,6.815637,6.869241,7.219187,8.667723,11.863379,10.472181,48.131872
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,2.0,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961,77.083333

For example, we might be interested in the average of the other variables within each cohort. Pandas provides the `groupby()` method to help with computing summary statistics by group.

In [3]:
metabric.groupby('Cohort').mean()

,Age_at_diagnosis,Survival_time,Tumour_size,Tumour_stage,Neoplasm_histologic_grade,Lymph_nodes_examined_positive,Lymph_node_status,Nottingham_prognostic_index,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH
Cohort,,,,,,,,,,,,,,,,,
1,62.195509,93.709148,27.686192,1.880952,2.423983,2.750520,1.762994,4.188083,3.698630,9.370269,10.492413,6.293862,6.221005,5.910626,9.444611,10.748237,11.192056
2,54.571923,166.243823,21.942308,1.527972,2.392226,1.153846,1.527972,3.938990,5.831579,9.343602,10.710782,6.296066,6.041412,6.100750,9.278292,10.604204,11.108363
3,62.179809,134.471117,26.455296,1.758347,2.483309,1.587193,1.561308,3.973387,6.533424,9.825575,10.925762,6.184818,6.222656,5.987118,9.597196,10.869807,11.562388
4,61.065297,106.164972,26.208729,NaN,2.365639,2.622881,1.766949,4.107502,6.016949,9.558758,10.792609,6.239498,6.305988,5.930729,9.439915,10.829622,11.232689
5,64.279940,130.864870,28.700637,1.692308,2.222892,2.245509,1.640719,3.904263,6.592814,9.856814,10.901521,6.200203,6.138554,5.898458,9.730121,10.941719,11.592222

This graphic explains what's going on under the hood when you call `groupby(...).mean()`:

![image.png](03.08-split-apply-combine.png)

When you call `.groupby('Cohort')`, pandas creates a new data frame for each value of `Cohort`, each consisting exclusively of the data from that cohort.

`.mean()` then computes the mean of each variable within each of these data frames, before stacking all the (now 1 row) data frames and returning this to you.

You can group by multiple variables:

In [50]:
metabric.groupby(['Cohort', 'Tumour_stage']).mean()

                     Age_at_diagnosis  Survival_time  Tumour_size  \
Cohort Tumour_stage
1      0.0                  57.905000      98.358333    37.000000
       1.0                  59.488095     102.340635    17.571429
       2.0                  63.086151      95.116667    27.052632
       3.0                  61.903750      70.511667    59.179487
       4.0                  66.155556      59.470370    34.444444
2      1.0                  56.038704     173.357202    19.228395
       2.0                  53.117010     176.285223    23.757732
       3.0                  50.998148      87.488889    31.703704
3      1.0                  60.362273     167.327104    15.863636
       2.0                  62.577818     122.405455    28.987013
       3.0                  65.306522      95.745652    49.466667
5      1.0                  66.301000     147.253333    16.300000
       2.0                  58.963571     141.207143    26.357143
       3.0                  66.245000      32.083333    30.000000

                     Neoplasm_histologic_grade  Lymph_nodes_examined_positive  \
Cohort Tumour_stage
1      0.0                            2.000000                       0.000000
       1.0                            2.191919                       0.285714
       2.0                            2.468439                       2.805921
       3.0                            2.625000                       8.500000
       4.0                            2.444444                       7.222222
2      1.0                            2.264151                       0.018519
       2.0                            2.525773                       1.484536
       3.0                            2.666667                       6.777778
3      1.0                            2.349206                       0.000000
       2.0                            2.538462                       1.854545
       3.0                            2.613636                       5.630435
5      1.0                            1.800000                       0.000000
       2.0                            2.428571                       4.357143
       3.0                            2.500000                       3.500000

                     Lymph_node_status  Nottingham_prognostic_index  \
Cohort Tumour_stage
1      0.0                    1.000000                     1.805500
       1.0                    1.038095                     3.149429
       2.0                    1.914474                     4.425816
       3.0                    2.550000                     5.290400
       4.0                    2.222222                     4.735556
2      1.0                    1.018519                     3.279198
       2.0                    1.969072                     4.542361
       3.0                    3.000000                     5.730074
3      1.0                    1.000000                     3.309505
       2.0                    1.719481                     4.200831
       3.0                    2.434783                     5.031565
5      1.0                    1.000000                     2.832600
       2.0                    2.000000                     4.481286
       3.0                    2.500000                     5.060000

                     Mutation_count       ESR1      ERBB2       PGR      TP53  \
Cohort Tumour_stage
1      0.0                 3.666667   8.425613  12.109703  5.932911  6.188952
       1.0                 3.250000   9.262457  10.411268  6.306860  6.220457
       2.0                 3.846429   9.515403  10.505507  6.318498  6.228292
       3.0                 3.027027   8.777499  10.552804  6.125333  6.186591
       4.0                 6.250000  10.605993  10.428758  6.377647  6.157500
2      1.0                 5.807453   9.775705  10.687720  6.443653  6.055063
       2.0                 5.556701   8.953454  10.592715  6.183338  6.054182
       3.0                 6.962963   8.152630  11.273326  5.815533  5.913632
3      1.0                 6.609137   9.925252  10.864065  6.261310  6.217709
       2.0                 6.420779   9.836619  10.958556  6.180932  6.213454
       3.0                 6.326087   9.080682  11.293365  5.701682  6.203268
5      1.0                 7.200000  10.416514  10.534091  6.678349  6.257859
       2.0                 6.928571   9.118955  10.704752  5.877861  6.135436
       3.0                 4.000000   9.024644  12.475821  6.015340  5.765103

                       PIK3CA      GATA3      FOXA1       MLPH  Age_today
Cohort Tumour_stage
1      0.0           5.846456   9.401405  11.673359  11.964543  58.174475
       1.0           5.951872   9.440525  10.691623  11.060236  59.768481
       2.0           5.901365   9.492737  10.785180  11.232824  63.346745
       3.0           5.914761   9.082983  10.510511  11.145521  62.096933
       4.0           5.921008  10.113221  11.599434  11.852786  66.318488
2      1.0           6.080057   9.539024  10.877447  11.361392  56.513655
       2.0           6.112188   9.041451  10.256763  10.827480  53.599984
       3.0           6.183817   8.564777  10.212963  10.599285  51.237844
3      1.0           5.959831   9.821520  11.020944  11.642651  60.820703
       2.0           5.982950   9.532246  10.832707  11.526968  62.913176
       3.0           6.030138   9.022444  10.676141  11.271884  65.568839
5      1.0           5.754566   9.925210  10.964222  11.554287  66.704434
       2.0           5.824347   9.088860  10.696157  11.511931  59.350440
       3.0           6.130891   8.800481  10.794154  11.914569  66.332900

## Multiple Data Sets

Often the information you need is spread across multiple data sets. Sometimes it is practical to deal with the data sets as seperate data frames, but often it's easier to join them together. Pandas provides lots of useful functionality to help with this.

### Merging Data Sets

Let's suppose that we have some additional data on the mutation status of various genes.

**<span style="color:Red">Warning</span>**: Whilst the original metabric data set is actually real data, this mutations data I have made up.

In [51]:
mutations = pd.read_csv('metabric_mutation_data.csv')

In [52]:
mutations.head()

  Patient_ID  TP53_MUT  BRCA1_MUT  ARID1A_MUT  PIK3CA_MUT  CTNNB1_MUT
0    MB-0000         1          0           0           0           0
1    MB-0002         1          0           0           0           0
2    MB-0005         0          0           1           0           0
3    MB-0006         1          0           0           0           0
4    MB-0008         1          0           0           0           0

We might wish to combine this with the other data in metabric. The function for this is `pd.merge()`:

In [53]:
pd.merge(metabric, mutations, on='Patient_ID')

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,PIK3CA,GATA3,FOXA1,MLPH,Age_today,TP53_MUT,BRCA1_MUT,ARID1A_MUT,PIK3CA_MUT,CTNNB1_MUT
0,MB-0000,1,75.65,140.500000,LIVING,Living,NO,YES,22.0,2.0,...,5.704157,6.932146,7.953794,9.729728,76.034932,1,0,0,0,0
1,MB-0002,1,43.19,84.633333,LIVING,Living,NO,YES,10.0,1.0,...,5.757727,11.251197,11.843989,12.536570,43.421872,1,0,0,0,0
2,MB-0005,1,48.87,163.700000,DECEASED,Died of Disease,YES,NO,15.0,2.0,...,6.751566,9.289758,11.698169,10.306115,49.318493,0,0,1,0,0
3,MB-0006,1,47.68,164.933333,LIVING,Living,YES,YES,25.0,2.0,...,7.219187,8.667723,11.863379,10.472181,48.131872,1,0,0,0,0
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,5.817818,9.719781,11.625006,12.161961,77.083333,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899,MB-7295,4,43.10,196.866667,LIVING,Living,NO,YES,25.0,NaN,...,6.279207,9.207323,11.281194,11.337601,43.639361,0,0,0,0,0
1900,MB-7296,4,42.88,44.733333,DECEASED,Died of Disease,NO,YES,20.0,NaN,...,5.999093,9.530390,11.532033,11.626140,43.002557,1,0,0,0,0
1901,MB-7297,4,62.90,175.966667,DECEASED,Died of Disease,NO,YES,25.0,NaN,...,6.192399,9.540589,11.482761,11.180360,63.382100,0,0,0,0,0
1902,MB-7298,4,61.16,86.233333,DECEASED,Died of Other Causes,NO,NO,25.0,NaN,...,6.287254,10.365901,11.371176,12.827069,61.396256,0,0,0,0,0
1903,MB-7299,4,60.02,201.900000,DECEASED,Died of Other Causes,NO,YES,20.0,NaN,...,6.208784,9.749368,10.867527,9.847856,60.573151,0,0,0,0,0

This even works if the rows of the different data frames do not match up!

Suppose that the data had been scrambled on it's way to us, such that the rows got randomly permuted.

In [54]:
mutations_scrambled = pd.read_csv('m3t@Brik_MUTat10n_daTA.csv')

In [55]:
mutations_scrambled.head()

  Patient_ID  TP53_MUT  BRCA1_MUT  ARID1A_MUT  PIK3CA_MUT  CTNNB1_MUT
0    MB-0637         0          0           0           0           0
1    MB-0244         1          1           0           0           0
2    MB-4706         0          1           0           0           0
3    MB-5373         1          0           0           0           0
4    MB-6312         0          0           0           0           0

By providing the argument `on = "Patient_ID"`, pandas is able to work out which rows correspond to which.

In [56]:
pd.merge(metabric, mutations_scrambled, on='Patient_ID')

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,PIK3CA,GATA3,FOXA1,MLPH,Age_today,TP53_MUT,BRCA1_MUT,ARID1A_MUT,PIK3CA_MUT,CTNNB1_MUT
0,MB-0000,1,75.65,140.500000,LIVING,Living,NO,YES,22.0,2.0,...,5.704157,6.932146,7.953794,9.729728,76.034932,1,0,0,0,0
1,MB-0002,1,43.19,84.633333,LIVING,Living,NO,YES,10.0,1.0,...,5.757727,11.251197,11.843989,12.536570,43.421872,1,0,0,0,0
2,MB-0005,1,48.87,163.700000,DECEASED,Died of Disease,YES,NO,15.0,2.0,...,6.751566,9.289758,11.698169,10.306115,49.318493,0,0,1,0,0
3,MB-0006,1,47.68,164.933333,LIVING,Living,YES,YES,25.0,2.0,...,7.219187,8.667723,11.863379,10.472181,48.131872,1,0,0,0,0
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,5.817818,9.719781,11.625006,12.161961,77.083333,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1899,MB-7295,4,43.10,196.866667,LIVING,Living,NO,YES,25.0,NaN,...,6.279207,9.207323,11.281194,11.337601,43.639361,0,0,0,0,0
1900,MB-7296,4,42.88,44.733333,DECEASED,Died of Disease,NO,YES,20.0,NaN,...,5.999093,9.530390,11.532033,11.626140,43.002557,1,0,0,0,0
1901,MB-7297,4,62.90,175.966667,DECEASED,Died of Disease,NO,YES,25.0,NaN,...,6.192399,9.540589,11.482761,11.180360,63.382100,0,0,0,0,0
1902,MB-7298,4,61.16,86.233333,DECEASED,Died of Other Causes,NO,NO,25.0,NaN,...,6.287254,10.365901,11.371176,12.827069,61.396256,0,0,0,0,0
1903,MB-7299,4,60.02,201.900000,DECEASED,Died of Other Causes,NO,YES,20.0,NaN,...,6.208784,9.749368,10.867527,9.847856,60.573151,0,0,0,0,0

### Concatenating Data Sets

Suppose that we had originally received the data for each cohort seperately.

In [57]:
metabric_cohort1 = metabric[metabric["Cohort"]==1]
metabric_cohort2 = metabric[metabric["Cohort"]==2]
metabric_cohort3 = metabric[metabric["Cohort"]==3]
metabric_cohort4 = metabric[metabric["Cohort"]==4]
metabric_cohort5 = metabric[metabric["Cohort"]==5]

In [58]:
metabric_cohort1.head()

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
0,MB-0000,1,75.65,140.500000,LIVING,Living,NO,YES,22.0,2.0,...,NaN,8.929817,9.333972,5.680501,6.338739,5.704157,6.932146,7.953794,9.729728,76.034932
1,MB-0002,1,43.19,84.633333,LIVING,Living,NO,YES,10.0,1.0,...,2.0,10.047059,9.729606,7.505424,6.192507,5.757727,11.251197,11.843989,12.536570,43.421872
2,MB-0005,1,48.87,163.700000,DECEASED,Died of Disease,YES,NO,15.0,2.0,...,2.0,10.041281,9.725825,7.376123,6.404516,6.751566,9.289758,11.698169,10.306115,49.318493
3,MB-0006,1,47.68,164.933333,LIVING,Living,YES,YES,25.0,2.0,...,1.0,10.404685,10.334979,6.815637,6.869241,7.219187,8.667723,11.863379,10.472181,48.131872
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,2.0,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961,77.083333

In this case we would like to "stack" the data frames on top of each other. The function to do this is `pd.concat()`.

In [59]:
pd.concat([metabric_cohort1, metabric_cohort2, metabric_cohort3, metabric_cohort4, metabric_cohort5])

,Patient_ID,Cohort,Age_at_diagnosis,Survival_time,Survival_status,Vital_status,Chemotherapy,Radiotherapy,Tumour_size,Tumour_stage,...,Mutation_count,ESR1,ERBB2,PGR,TP53,PIK3CA,GATA3,FOXA1,MLPH,Age_today
0,MB-0000,1,75.65,140.500000,LIVING,Living,NO,YES,22.0,2.0,...,NaN,8.929817,9.333972,5.680501,6.338739,5.704157,6.932146,7.953794,9.729728,76.034932
1,MB-0002,1,43.19,84.633333,LIVING,Living,NO,YES,10.0,1.0,...,2.0,10.047059,9.729606,7.505424,6.192507,5.757727,11.251197,11.843989,12.536570,43.421872
2,MB-0005,1,48.87,163.700000,DECEASED,Died of Disease,YES,NO,15.0,2.0,...,2.0,10.041281,9.725825,7.376123,6.404516,6.751566,9.289758,11.698169,10.306115,49.318493
3,MB-0006,1,47.68,164.933333,LIVING,Living,YES,YES,25.0,2.0,...,1.0,10.404685,10.334979,6.815637,6.869241,7.219187,8.667723,11.863379,10.472181,48.131872
4,MB-0008,1,76.97,41.366667,DECEASED,Died of Disease,YES,YES,40.0,2.0,...,2.0,11.276581,9.956267,7.331223,6.337951,5.817818,9.719781,11.625006,12.161961,77.083333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1663,MB-6344,5,82.00,152.933333,DECEASED,Died of Disease,NO,NO,60.0,NaN,...,9.0,11.770033,10.542982,5.485174,5.997429,5.586140,10.014942,11.449055,11.459069,82.418995
1664,MB-6346,5,63.20,281.500000,LIVING,Living,NO,YES,22.0,2.0,...,3.0,11.717617,10.623396,5.815838,5.949808,5.934635,10.425506,11.772506,12.722197,63.971233
1665,MB-6358,5,57.77,37.866667,DECEASED,Died of Disease,NO,NO,25.0,NaN,...,4.0,7.665933,14.200950,5.272237,6.253230,5.531641,9.634916,11.583826,11.597497,57.873744
1666,MB-6359,5,73.42,85.033333,DECEASED,Died of Disease,NO,NO,22.0,NaN,...,8.0,10.461917,11.245440,5.286479,6.293295,6.233057,11.779152,11.483766,11.337287,73.652968
1667,MB-6363,5,60.77,16.700000,DECEASED,Died of Disease,YES,YES,25.0,NaN,...,7.0,7.287695,14.417727,5.527459,6.366201,5.597501,9.710768,11.288168,13.160784,60.815753

## Replace

When working with categorical data, one may wish to change the labels used for the different categories. For example, a binary classification algorithm may require that the data come encoded as 0 and 1. The helpful method here is `pd.replace()`.

In [ ]:
metabric.PR_status

In [ ]:
metabric.PR_status.replace(to_replace={'Positive':1, 'Negative':0})

This also works on whole data frames! For example, we can replace all instances of YES and NO with 1 and 0 respectively.

In [ ]:
metabric.replace(to_replace={'YES':1, 'NO':0})

Antoher thing you might want to do is to aggregate different categories.

In [ ]:
metabric.Cancer_type.unique()

In [ ]:
metabric.replace(to_replace={'Breast Invasive Ductal Carcinoma':'Breast Invasive', 
                             'Breast Invasive Lobular Carcinoma':' Breast Invasive', 
                             'Breast Invasive Mixed Mucinous Carcinoma':'Breast Invasive'}).Cancer_type

### Inplace Operations

When we run `metabric.replace(to_replace={'YES':1, 'NO':0})`, this returns a version of `metabric` with all the `YES`s and`NO`s replaced with `1` and `0` respectively.

In [ ]:
metabric.replace(to_replace={'YES':1, 'NO':0})

However if we then call `metabric.head()`, we see that `metabric` itself remains unchanged.

In [ ]:
metabric.head()

Like most `DataFrame` methods, `replace()` does not modify the data frame it is called upon, rather it returns a new data frame that is a modified version of the original one. If you want the change to be made permanent, please remember to re-assign.

In [ ]:
metabric = metabric.replace(to_replace={'YES':1, 'NO':0})

In [ ]:
metabric.head()

Alternatively, many `DataFrame` methods have the optional argument `inplace`, which if set to `True` will modify the data frame the method is called on.

In [4]:
metabric = pd.read_csv("metabric_clinical_and_expression_data.csv")

In [6]:
metabric.replace(to_replace={"YES":1, "NO":0}, inplace=True)

## Summary

We have learnt the basics of accomplishing the following tasks with `pandas`:

- Reading in data as a `DataFrame`.
- Selecting a subset of a data frame.
- Creating new columns and modifying existing ones.
- Summarising data sets via summary values, including seperating out the summaries by groups within the data.
- Handling missing data.
- Handling data spread across multiple datasets.

## Exercises

Have a go at as many of these as you can prior to the excercise recap session on Friday.

**<u>Exercises from the text</u>** - These exercises appear in the above notebook (look for the blue **<span style="color:blue">Exercise</span>** prompts). They are best done as you review the material, but I have also colllated them here for your convenience:

- Create a new column that gives the average expression of all the genes with expression data in the metabric data set.
- Write a query to extract data on only those patients who have had both chemotherapy and radiotherapy. Can you compute the average tumour size for such patients? How does this compare to the tumour size for patients who haven't undergone therapy?
- Write a query to extract data on patients from cohort 1 with either the highest or second highest tumour stage (part of the exercise is to figure out what the top two tumour stages are!).
- Use `.sum()` to get a vector of the amount of missing data for each variable in the metabric data set.
- There is a method that does the opposite of `.isna()` - i.e. it returns `True` when data is present and `False` where there is an `NaN`. Can you find out (or guess) what it is?

**<u>New Exercises</u>**

1. This question requires a little bit of googling (a valuable skill for any programmer!): 

    - What are the different values of the `Integrative Cluster` variable? 
    - Can you produce a series containing the number of patients in each cluster? (There is a useful method that will help you out with this, but I'll leave it to you to find out what that is).


2. As well as reading in data, pandas also allows you to write pandas data frames to other formats, such as csv files:

    - Store the summary statistics for the metabric data set into a new variable called `metabric_summary`.
    - Just like the `.read_csv()` method allows reading data from a file, `pandas` provides a `.to_csv()` method to write `DataFrames` to csv files. Write your summary statistics object into a file called `metabric_summary.csv`. You can use `help(metabric.to_csv)`, or look at the pandas documentation, to get information on how to use this function.
    - Modify the previous step so that you can generate a Tab Separated Value (TSV) file instead 
    - Similarly, explore the method `to_excel()` to output an excel spreadsheet containing summary statistics


3. Some exercises involving conditional subsetting. Write some python code to answer the following questions:

    - Calculate the mean tumour size of patients, grouped by vital status and tumour stage.
    - In which combination of cohort and tumour stage are the average expression of the genes TP53 and FOXA1 the highest?
    - Do patients with greater tumour size live longer? How about patients with higher tumour stage? How about greater Nottingham_prognostic_index?


4. Review the section on missing data presented in the lecture. Consulting the [user's guide section dedicated to missing data](https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html) and any other materials as necessary use the functionality provided by pandas to answer the following questions:

    - Which variables (columns) of the metabric dataset have missing data? Are any of them missing substantially more data than others?
    - Find the patients ids who have missing tumour size and/or missing mutation count data. Which cohorts do they belong to?
    - For the patients identified to have missing tumour size data for each cohort, fill this in with the average tumour size of the other patients from the same cohort.


5. (Bonus) Try out pandas in a dataset of your own work or from literature/resources you have read/used recently and share with a colleague / rest of the class.

**<u>For Later</u>**

*Have a look at this exercise once you've completed the Introduction to Machine Learning sessions.*

Recall we discussed that one option for imputing missing data is to peform a linear regression with the response variable as the missing variable, and the inputs as some subset of the other variables. Have a go at implementing this. See the "Missing Data" section of this notebook for example usage of the `.fillna()` method.